**.swp
**~
libdsk/Makefile
libdsk/config.h
libdsk/config.log
libdsk/config.status
libdsk/doc/Makefile
libdsk/include/Makefile
libdsk/lib/.deps/
libdsk/lib/Makefile
libdsk/libtool
libdsk/man/Makefile
libdsk/stamp-h1
libdsk/tools/.deps/
libdsk/tools/Makefile
libdsk/lib/uk_co_demon_seasip_libdsk_Drive.h
libdsk/lib/uk_co_demon_seasip_libdsk_FormatType.h
libdsk/lib/uk_co_demon_seasip_libdsk_Geometry.h
libdsk/lib/uk_co_demon_seasip_libdsk_LibDsk.h
libdsk/tools/apriboot
libdsk/tools/dskconv
libdsk/tools/dskdump
libdsk/tools/dskform
libdsk/tools/dskid
libdsk/tools/dskscan
libdsk/tools/dsktest
libdsk/tools/dsktrans
libdsk/tools/dskutil
libdsk/tools/forkslave
libdsk/tools/md3serial
libdsk/tools/serslave
**/.libs/**
**.o
**.la
**.lo
**.exe

